<?php

declare(strict_types=1);

/**
 * @author    Cleever <contact@cleever.com>
 * @copyright 2022 Processing Technology Ltd, Inc. All rights reserved.
 * @license   https://opensource.org/licenses/osl-3.0.php (OSL 3.0)
 * @link      https://www.cleever.com/
 */
use Magento\Framework\Escaper;
use Magento\GroupedProduct\Model\Product\Type\Grouped;
use Cleever\App\ViewModel\GetSlotProduct;
use Magento\Bundle\Model\Product\Type;
/**
 * @var Escaper $escaper
 * @var GetSlotProduct $viewModel
 */
$viewModel = $this->getData('cleever_cleever_get_slot_product');
?>
<?php if ($viewModel->getIsActive()):
    $infos = $viewModel->getSlotProductInfos();
    ?>
    <div class="cleever-product" style="display: none">
        <input type="checkbox" name="cleever_slot_product" id="cleever-slot-product" productId="<?= $escaper->escapeHtmlAttr($viewModel->getProduct()->getId()) ?>" value="1" reloadPrice="<?= ($viewModel->getProduct()->getTypeId() !== Grouped::TYPE_CODE && $viewModel->getProduct()->getTypeId() !== Type::TYPE_CODE) ?>" /><label for="cleever-slot-product"><?= /** no escape */$infos['title'] ?></label>
        <div id="cleever-product-description" style="display: none"><?= /** no escape */$infos['description'] ?></div>
        <input type="hidden" id="cleever_discount" name="cleever_discount" value="<?= $escaper->escapeHtmlAttr($infos['discount']) ?>">
        <script type="text/x-magento-init">
        {
            "#cleever-product-description": {
                 "cleeverProduct": {}
            }
        }
        </script>
    </div>
<?php endif; ?>

