<?php
use Cleever\App\Block\IframeForm;

/**
 * @var IframeForm $block
 */

?>
<?php if ($block->getDisplay() === 'B'): ?>
<div class="cleever-popin-container" >
    <div>
<?php endif; ?>
        <iframe
            id="cleever-form-iframe"
            name="cleever-iframe"
            src="<?= /* @noEscape */ $block->getUrlIframe() ?>"
            scrolling="<?= /* @noEscape */ $block->getDisplay() === 'B' ? 'yes' : 'no' ?>"
            frameborder="0"
            border="0"
            height="<?= /* @noEscape */ $block->getDisplay() === 'B' ? '100%' : '1100' ?>"
            width="100%"
        >
        </iframe>
<?php if ($block->getDisplay() === 'B'): ?>
    </div>
</div>
<?php endif; ?>
