<?php

declare(strict_types=1);

/**
 * @author    Cleever <contact@cleever.com>
 * @copyright 2022 Processing Technology Ltd, Inc. All rights reserved.
 * @license   https://opensource.org/licenses/osl-3.0.php (OSL 3.0)
 * @link      https://www.cleever.com/
 */

use Magento\Framework\View\Helper\SecureHtmlRenderer;
use Cleever\App\Block\Adminhtml\Config;
/**
 * @var SecureHtmlRenderer $secureRenderer
 * @var Config $block
 */
$code = $block->getStoreCode();
?>

<?php $scriptString = <<<script
//<![CDATA[
function disableCleeverElement(isEnable, elementToDisable) {
     var useDefaultElement = document.getElementById(elementToDisable + '_inherit');

    if (isEnable) {
        elementToDisable.disabled = useDefaultElement ? useDefaultElement.checked : false;
    } else {
        elementToDisable.disabled = true;
    }
}
document.addEventListener("DOMContentLoaded", function(event) {
    if (document.getElementById('payment_{$code}_cleever_cleever_settings_active_payment') != undefined) {

        var isEnable = document.getElementById('payment_{$code}_cleever_cleever_settings_active_payment').value == 1,
        elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_active');
        if (!isEnable) {
            elementToDisable.insertAdjacentHTML("afterend", '<p id="shipping-note" class="note"><span>To enable the shipping service, you must enable Cleever payment above. The shipping service can only be processed through Cleever payment.</span></p>');
        } else {
            elementToDisable.insertAdjacentHTML("afterend", '<p id="shipping-note" class="note"><span>This activates the free shipping service. Select "Yes" and choose below the shipping method which will be associated to free shipping.</span></p>');
        }
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_reference');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_sort_order');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_label');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_display_reference');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_product_enabled');
        if (!isEnable) {
            elementToDisable.insertAdjacentHTML("afterend", '<p id="cleever-product-note" class="note"><span>To enable the product checkbox service, you must enable Cleever payment above. The product checkbox service can only be processed through Cleever payment.</span></p>');
        } else {
            elementToDisable.insertAdjacentHTML("afterend", '<p id="cleever-product-note" class="note"><span>This activates the product checkbox service. Select “Yes” to display the checkbox and improve your conversion rate.</span></p>');
        }
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_settings_active');
        disableCleeverElement(isEnable, elementToDisable);

        if (isEnable) {
            var isEnable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_active').value == 1,
            elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_reference');
            disableCleeverElement(isEnable, elementToDisable);
            var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_sort_order');
            disableCleeverElement(isEnable, elementToDisable);
            var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_label');
            disableCleeverElement(isEnable, elementToDisable);
            var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_display_reference');
            disableCleeverElement(isEnable, elementToDisable);
            var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_product_enabled');
            disableCleeverElement(isEnable, elementToDisable);
        }
    }
});
if (document.getElementById('payment_{$code}_cleever_cleever_settings_active_payment') != undefined) {
    document.getElementById('payment_{$code}_cleever_cleever_settings_active_payment').addEventListener('change', function(event) {
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_active'),
        isEnable = event.target.value == 1;
        if (!isEnable) {
            document.getElementById('shipping-note').remove();
            elementToDisable.insertAdjacentHTML("afterend", '<p id="shipping-note" class="note"><span>To enable the shipping service, you must enable Cleever payment above. The shipping service can only be processed through Cleever payment.</span></p>');
        } else {
            document.getElementById('shipping-note').remove();
            elementToDisable.insertAdjacentHTML("afterend", '<p id="shipping-note" class="note"><span>This activates the free shipping service. Select "Yes" and choose below the shipping method which will be associated to free shipping.</span></p>');
        }
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_reference');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_sort_order');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_label');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_display_reference');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_product_enabled');
        document.getElementById('cleever-product-note').remove();
        if (!isEnable) {
            elementToDisable.insertAdjacentHTML("afterend", '<p id="cleever-product-note" class="note"><span>To enable the product checkbox service, you must enable Cleever payment above. The product checkbox service can only be processed through Cleever payment.</span></p>');
        } else {
            elementToDisable.insertAdjacentHTML("afterend", '<p id="cleever-product-note" class="note"><span>This activates the product checkbox service. Select “Yes” to display the checkbox and improve your conversion rate.</span></p>');
        }
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_settings_active');
        disableCleeverElement(isEnable, elementToDisable);
    });
}
if (document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_active') != undefined) {
    document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_active').addEventListener('change', function(event) {
        var isEnable = event.target.value == 1,
        elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_reference');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_sort_order');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_label');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('payment_{$code}_cleever_cleever_service_cleever_shipping_display_reference');
        disableCleeverElement(isEnable, elementToDisable);
    });
}
if (document.getElementById('carriers_cleever_active') != undefined) {
    document.getElementById('carriers_cleever_active').addEventListener('change', function(event) {
        var isEnable = event.target.value == 1,
        elementToDisable = document.getElementById('carriers_cleever_reference');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('carriers_cleever_label');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('carriers_cleever_sort_order');
        disableCleeverElement(isEnable, elementToDisable);
        var elementToDisable = document.getElementById('carriers_cleever_display_reference');
        disableCleeverElement(isEnable, elementToDisable);
    });
}
//]]>
script;
?>
<?= /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptString, false); ?>

