<?php
/**
 * @author    Cleever <contact@cleever.com>
 * @copyright 2022 Processing Technology Ltd, Inc. All rights reserved.
 * @license   https://opensource.org/licenses/osl-3.0.php (OSL 3.0)
 * @link      https://www.cleever.com/
 */

use Cleever\App\Block\Info\Cleever;
use Magento\Framework\Escaper;

/**
 * @var $block Cleever
 * @var $escaper Escaper
 */

?>
<dl class="payment-method">
    <dt class="title"><?= $escaper->escapeHtml($block->getMethod()->getTitle()) ?></dt>
</dl>
