<div class="payment-method" data-bind="visible: isVisible, css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="html: getPaymentMethodTitle()"></span>
            <!-- ko if: getPaymentMethodIcon() -->
            <img data-bind="attr: {'src': getPaymentMethodIcon() }" class="payment-icon" />
            <!-- /ko -->
        </label>
    </div>
    <div class="payment-method-content" id="cleever-iframe-container" >

        <!-- ko if: getMode() === 'integrated' -->
        <div id="cleever-integrated-container" name="cleever-integrated-container" class="cleever-integrated-container" >
            <div>
                <iframe
                    data-bind='attr: {src : getIframeUrl()}'
                    id="cleever-form-integrated"
                    name="cleever-integrated"
                    scrolling="yes"
                    frameborder="0"
                    border="0"
                    height="100%"
                    width="100%">
                </iframe>
                <input id="cleever_payload" name="cleever_payload" type="hidden" />
            </div>
        </div>
        <div class="clear"></div>
        <!-- /ko -->

        <fieldset class="fieldset" data-bind='attr: {id: "payment_form_" + getCode()}'>
            <div class="payment-method-note">

                <span data-bind="html: getPaymentMethodDescription()"></span>
            </div>
        </fieldset>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <br>
        <fieldset class="fieldset" data-bind='attr: {id: "payment_additionnal_form_" + getCode()}'>
            <div class="payment-method-note">

            </div>
        </fieldset>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar" >
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
