<!-- ko if: getDisplayWithDiscount() || getDisplayWithoutDiscount()  -->
<tr class="grand totals cleever-total">
    <!-- ko if: getDisplayMode() == "text_with_discount" && getDisplayWithDiscount()  -->
    <th class="mark" scope="row">
        <strong data-bind="html: getTextWithDiscount()" ></strong>
    </th>
    <td class="amount" >
        <strong data-bind="html: getTotalWithDiscount()"></strong>
    </td>
    <!-- /ko -->

    <!-- ko if: getDisplayMode() == "text_without_discount"  && getDisplayWithoutDiscount()  -->
    <td class="amount cleever-without-discount" colspan="2" >
        <span data-bind="html: getTextWithoutDiscount()"></span>
    </td>
    <!-- /ko -->
</tr>
<!-- /ko -->
