@font-face {
    font-family: aeonikregular;
    src: url("../fonts/aeonik-regular-webfont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: aeonikmedium;
    src: url("../fonts/aeonik-medium-webfont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: aeonikbold;
    src: url("../fonts/aeonik-bold-webfont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.cleever-popin-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1;
    z-index: 999999;
}

.cleever-popin-container > div {
    margin: 70px auto;
    padding: 20px;
    background: transparent;
    border-radius: 5px;
    width: 50%;
    height: 85%;
    position: relative;
    max-width: 500px;
}

@media screen and (max-width: 650px) {
    .cleever-popin-container > div {
        background: transparent;
        width: 90% !important;
        padding: 0px;
    }
}

.cleever-integrated-container {
    width: 100%;
    height: 240px;
}

.cleever-integrated-container > div {
    width: 100%;
    height: 240px;
}

@media screen and (max-width: 650px) {
    .cleever-integrated-container {
        height: 240px;
    }

    .cleever-integrated-container > div {
        height: 240px;
    }
}

.cleever-total td,
.cleever-total th {
    border-top: none !important;
    padding-top: 0 !important;
}

.cleever-without-discount {
    text-align: center !important;
}

.checkout-payment-method .payment-method-title .payment-icon {
    margin-left: 5px;
    align-self: center;
}
.cleever-banner {
    display: none;
}
.cleaver-mobile-discount {
    padding-left: 10px;
}
.cleever-product {
    margin-bottom: 20px;
}
