<!-- ko if: getCookieDiscount()  -->
<tr class="grand totals cleever-total">
    <th class="mark" scope="row">
        <strong style="color:red;" data-bind="html: getTextWithDiscount()" ></strong>
    </th>
    <td class="amount" >
        <strong style="font-size: 21px; color:red;" data-bind="html: getTotalWithDiscount()"></strong>
    </td>
</tr>
<!-- /ko -->
