<!-- ko if: getCookieDiscount()  -->
<div class="subtotal">
    <span class="label" style="color:red;" data-bind="html: getTextWithDiscount()"></span>
    <div class="amount price-container">
        <span class="price-wrapper" style="font-size: 21px; color:red;" data-bind="html: getTotalWithDiscount()"></span>
    </div>
</div>
<!-- /ko -->
