<?php
use Cleever\App\Block\Info\CleeverPayment;
use Magento\Framework\Escaper;

/**
 * @var $block CleeverPayment
 * @var $escaper Escaper
 */
$title = $block->getInfo()->getAdditionalInformation('front_title') ?? $block->getMethod()->getTitle();
?>
<dl class="payment-method">
    <dt class="title"><?= $escaper->escapeHtml($title) ?></dt>
</dl>
